/*QIUJUNTAO 20076461d*/

header{
    background-color: #000000;
    color:white;
    padding: 20px;
} 


nav ul{
    list-style-type: none;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: lightgray;
}

nav ul li{
    display: inline;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;    
}

nav ul li a{
    text-decoration: none;
    color: black;
}

/* # - ID  . - class*/
li.currentPage{
    background-color: #7fffd4;
}

/* 选择鼠标悬停 */



nav ul li:hover {
    background-color: #7fffd4;
}


/*20076461d*/
main {
    display: flex;
    flex: 1;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.section-header{
    text-align: center;
}
  
.featured-drink {
    display: flex;
    justify-content: center;
    align-items: center;
}

.drink-container {
    display: flex;
    flex-direction: row;
}


.drink {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.drink img {
    width: 200px;
    height: 200px;
}
  



footer {
    background-color: #000000;
    color:white;
    padding: 20px; 
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }